<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Super Cursor</Name><AddInID>{9991b79f-9340-4392-a724-633556a1de2e}</AddInID><Description>ArcGIS Desktop version 10.0+ add-in for editing and querying vector layers.</Description><Version>0.1</Version><Image>Images\City.GIF</Image><Author>Alec Zoeller</Author><Company>GNU License</Company><Date>07/04/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="supercursor_addin.py" namespace="supercursor_addin"><ArcMap>
    <Commands>
        <Button caption="Copy as Query" category="Super Cursor" class="QueryCopy" id="supercursor_addin.copyquery" image="" message="Query will be copied to clipboard, can be pasted as definition query." tip="Click to copy selected features to text query in clipboard."><Help heading="" /></Button>
        <Button caption="Delete Features" category="Super Cursor" class="DeleteFeatures" id="supercursor_addin.delete_features" image="" message="Target layer in dropdown will have all selected features deleted.  IF NO FEATURES ARE SELECTED, ALL FEATURES WILL BE DELETED." tip="Click to delete all selected features in selected layer."><Help heading="" /></Button>
        <Tool caption="Add Features" category="Super Cursor" class="AddFeatures" id="supercursor_addin.add_features" image="" message="For polyline/polygon, double-click to finish feature." tip="Click button and click in canvas to add features to selected layer."><Help heading="" /></Tool>
        <ComboBox caption="Target Layer" category="Super Cursor" class="TargetLayer" id="supercursor_addin.target_layer" itemSizeString="WWWWWW" message="After selecting layer, use Selection tool to identify features to query or delete.  &quot;Add features&quot; does not require selection." rows="4" sizeString="WWWWWW" tip="Select layer to query, add or delete from."><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Super Cursor" category="Super Cursor" id="supercursor_addin.cursor_toolbar" showInitially="true"><Items><Button refID="supercursor_addin.copyquery" /><Button refID="supercursor_addin.delete_features" /><Tool refID="supercursor_addin.add_features" /><ComboBox refID="supercursor_addin.target_layer" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>